# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.iml

# Android
android/**/gradle-wrapper.jar
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/app/debug/
android/app/profile/
android/app/release/
*.jks

# IDE
.idea/
*.iml
.vscode/

# Misc
*.log
.DS_Store
